## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
#Ans; 1

import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
#Ans: 2

my_list = [1,12,3,14,18,19,15,54,69,78]
ds1 = pd.Series(my_list)
print(ds1)

0     1
1    12
2     3
3    14
4    18
5    19
6    15
7    54
8    69
9    78
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:
  Name         Age             Gender
  Alice        25              Female
  Bob          30               Male
  Claire       27              Female
**Then, print the DataFrame.**

In [4]:
#Ans: 2

data = {'Name' : ['Alice' , 'Bob' , 'Claire'], 'Age' : [25,30,27], 'Gender' : ['Female','Male','Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#Ans: 4

A DataFrame in pandas, is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, where data is organized into rows and columns. Each column in a DataFrame is a Pandas Series object.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold any data type (integer, string, float, etc.) and has an index that labels each element in the Series.

In [5]:
s = pd.Series([10,20,30,40,50,60])
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Gender': ['Female', 'Male', 'Male']
})

print(s)
print(df)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male

In [6]:
#In the above example, we created a Series s that contains 6 integers. It has a default index from 0 to 5. 
#On the other hand, we created a DataFrame df that consists of three columns - "Name", "Age", and "Gender". 
#Each column is a Series object. The DataFrame has a row index from 0 to 2.

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

#Ans: 5

Pandas provides many functions to manipulate data in a DataFrame. Here are some common functions that you can use:

**head()**: Returns the first n rows of the DataFrame. This can be useful to get a quick glimpse of the data.

In [7]:
df = pd.read_csv("services.csv")
df.head(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN

**tail()**: Returns the last n rows of the DataFrame.

In [8]:
df = pd.read_csv('services.csv')
df.tail(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

**describe()**: Generates descriptive statistics for the DataFrame such as count, mean, standard deviation, minimum, and maximum values.

In [9]:
df = pd.read_csv('services.csv')
df.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

**sort_values()**: Sorts the DataFrame by one or more columns.

In [15]:
df = pd.read_csv('services.csv')
df_sorted = df.sort_values(by='eligibility')
df_sorted.head(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN

**groupby()**: Groups the DataFrame by one or more columns and applies a function to each group. This is often used to calculate aggregate statistics for each group.

In [18]:
df = pd.read_csv('services.csv')
grouped = df.groupby(['location_id']).mean()
print(grouped)

               id  program_id
location_id
1             1.0         NaN
2             2.0         NaN
3             3.0         NaN
4             4.0         NaN
5             5.0         NaN
6             6.0         NaN
7             7.0         NaN
8             8.0         NaN
9             9.0         NaN
10           10.0         NaN
11           11.0         NaN
12           12.0         NaN
13           13.0         NaN
14           14.0         NaN
15           15.0         NaN
16           16.0         NaN
17           17.0         NaN
18           18.0         NaN
19           19.0         NaN
20           20.0         NaN
21           21.0         NaN
22           22.5         NaN

/tmp/ipykernel_85/3077337866.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby(['location_id']).mean()

**drop()**: Drops one or more rows or columns from the DataFrame.

In [48]:
df = pd.read_csv('services.csv')
df_dropped = df.drop(['wait_time'], axis=1)
df_dropped.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,funding_sources,interpretation_services,keywords,languages,name,required_documents,service_areas,status,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,"City, County, Donations, Fees, Fundraising",NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,"County, Federal, State",NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,"County, Donations, Grants",NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,"County, Donations, Grants",NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,"County, Grants, State",NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

#Ans: 6
Both Series and DataFrame are mutable in nature, whereas Panel is considered immutable as it is deprecated since version 0.25.0 and replaced with other data structures such as MultiIndex or xarray.

In Pandas, mutable objects can be modified in place, which means the changes made to the object will be reflected in the original object itself. For example, you can add, delete, or modify elements in a Series or a DataFrame after it has been created. However, it is important to note that modifying a mutable object in place can have unintended consequences and it is often safer to create a copy of the object before modifying it.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [49]:
#Ans: 7

names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
genders = pd.Series(['Female', 'Male', 'Male'])


data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}


df = pd.DataFrame(data)
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male